@model List<TodoApp.Models.CelFeladat>

@{
    ViewBag.Title = "FeladatLista";
}

<h2 class="jumbotron">Feladatok Listája</h2>

<ul>
    @foreach (var CelFeladat in Model)
    {
        if (CelFeladat.done)
        {
            <li class="alert-success">@CelFeladat.name</li>
        }
        else
        {
            <li class="alert-danger">@CelFeladat.name</li>
        }

    }
</ul>

