@{
    ViewBag.Title = "Kapcsolat";
}

@model nyolczasHu.Models.gmail

@*@{ 
    Layout = null;
}*@


<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


    <form id="form1" runat="server">
        <table>
            <tr>
                <td>to:</td>
                <td><asp:TextBox ID="to" runat="server"></asp:TextBox></td>
            </tr>
            <tr>
                <td>from:</td>
                <td><asp:TextBox ID="from" runat="server" Text="nyolczas@gmail.com"></asp:TextBox></td>
            </tr>
            <tr>
                <td>subject:</td>
                <td<asp:TextBox ID="subject" runat="server" Text="Teszt email"></asp:TextBox></td>
            </tr>
            <tr>
                <td>body:</td>
                <td><asp:TextBox ID="body" runat="server" Text="szöveg" TextMode="MultiLine"></asp:TextBox></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Küldés" />
                </td>
            </tr>
        </table>

    </form>
            <span style="color:green">@ViewBag.Message</span>


<address>
    1132 Budapest<br />
    Váci út 56-58. 3. 65.<br />
    tel: +36 70 325 8987
    @* todo: megnézni hogy kell rendesen megcsinálni a telefonos linket*@


</address>
